article {
  display: flex;
  flex-wrap: wrap;
}

article > * {
  width: 100%;
  /* can use vh for height relative adjustment (can also use min height but vh better) */
  /* Avoid absolute units, USE relative units where possible, so no "px" - suffix */
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: black;
}

nav {
  background-color: #5995DA;
  height: 15vh;
}

header {
  background-color: #B2D6FF;
}

main {
  background-color: #EAEDF0;
  height: 600px;
}

#sign-up {
  background-color: #D6E9FE;
}

#feature-1 {
  background-color: #F5CF8E;
}

#feature-2 {
  background-color: #F09A9D;
}

#feature-3 {
  background-color: #C8C6FA;
}

/* Only screen because theres are other media types such as 'print', so this breakpoint only affects screen display */
@media only screen and (min-width: 500px) and (max-width: 899px) {
  .square-grid {
    flex: 50%;
    height: 50vw;
  }
/* # is an id, more than one way to solve the problem, first one has better readability as devs dont have to check the html doc */
  /* #sign-up,#feature-1,#feature-2,#feature-3{ 
  flex: 50%;
  height: 50vw;
} */
  /* section {
    width: 50%;
  } */
/* Flex vs width */
/* Article > section is also another way */

  /* only for testing purposes
  header {
    background-color: red; 
  }
  */
}

@media only screen and (min-width: 900px) {
  .feature {
    flex: 1;
    height: calc(1.5 * (100vw / 3));
  }
  #sign-up {
    order:1;
    height: 25vw;
  }
  main {
    order: 2;
  }
  header {
    height: 75vh;
  }
}

/* 1 */
/* 2 */
/* 3 */